In [161]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import sklearn
import seaborn as sns
from subprocess import check_output
from IPython.display import display, HTML

datasetFolder = "datasets/nba-players-stats-since-1950"
print(check_output(["ls", datasetFolder]).decode("utf8"))

Players.csv
Seasons_Stats.csv

In [162]:
players=pd.read_csv(datasetFolder + '/Players.csv')
seasons=pd.read_csv(datasetFolder + '/Seasons_Stats.csv')

In [163]:
display(players.head())

,Unnamed: 0,Player,height,weight,collage,born,birth_city,birth_state
0,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN
1,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana
2,2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN
3,3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,NaN,NaN
4,4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky

In [164]:
display(seasons.head())

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

In [165]:
players.shape #shape of the players dataframe

(3922, 8)

In [166]:
seasons.shape #shape of the seasons dataframe

(24691, 53)

In [167]:
players.keys()

Index(['Unnamed: 0', 'Player', 'height', 'weight', 'collage', 'born',
       'birth_city', 'birth_state'],
      dtype='object')

In [168]:
seasons.keys()

Index(['Unnamed: 0', 'Year', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP',
       'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%',
       'BLK%', 'TOV%', 'USG%', 'blanl', 'OWS', 'DWS', 'WS', 'WS/48', 'blank2',
       'OBPM', 'DBPM', 'BPM', 'VORP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%',
       '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB',
       'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [169]:
players.isnull().sum()    #checking data quality

Unnamed: 0       0
Player           1
height           1
weight           1
collage        349
born             1
birth_city     470
birth_state    483
dtype: int64

In [170]:
players.drop('Unnamed: 0' ,axis=1,inplace=True)
players.dropna(how='all',inplace=True) #dropping the player whose value is null
players.set_index('Player',inplace=True) #setting the player name as the dataframe index
players = players.sort_values(['born'], ascending=[False])

In [171]:
players.head(20)

,height,weight,collage,born,birth_city,birth_state
Player,,,,,,
Ivica Zubac,216.0,120.0,NaN,1997.0,Mostar,Bosnia and Herzegovina
Marquese Chriss,208.0,105.0,University of Washington,1997.0,Sacramento,California
Georgios Papagiannis,216.0,108.0,NaN,1997.0,Amarousio,Greece
Thon Maker,216.0,97.0,NaN,1997.0,South Sudan,NaN
Diamond Stone,211.0,115.0,University of Maryland,1997.0,Milwaukee,Wisconsin
Edy Tavares,211.0,115.0,NaN,1997.0,NaN,NaN
Dragan Bender,216.0,102.0,NaN,1997.0,Capljina,Bosnia and Herzegovina
Jamal Murray,193.0,93.0,University of Kentucky,1997.0,Kitchener,Canada
Brandon Ingram,206.0,86.0,Duke University,1997.0,Kinston,North Carolina
Henry Ellenson,211.0,111.0,Marquette University,1997.0,Rice Lake,Wisconsin
Domantas Sabonis,211.0,108.0,Gonzaga University,1996.0,Portland,Oregon
Stephen Zimmerman,213.0,108.0,"University of Nevada, Las Vegas",1996.0,Hendersonville,Tennessee
Xavier Munford,196.0,90.0,NaN,1996.0,NaN,NaN
Emmanuel Mudiay,196.0,90.0,NaN,1996.0,Kinshasa,Democratic Republic of the Congo
Chinanu Onuaku,208.0,111.0,University of Louisville,1996.0,Baltimore,Maryland
Dejounte Murray,196.0,77.0,University of Washington,1996.0,Seattle,Washington
Kevon Looney,206.0,99.0,"University of California, Los Angeles",1996.0,Milwaukee,Wisconsin
Tyus Jones,188.0,88.0,Duke University,1996.0,Burnsville,Minnesota
Malachi Richardson,198.0,92.0,Syracuse University,1996.0,Trenton,New Jersey
Deyonta Davis,211.0,107.0,Michigan State University,1996.0,Muskegon,Michigan